services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dreamer
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d dreamer']
      interval: 5s
      timeout: 5s
      retries: 5

  pgweb:
    image: sosedoff/pgweb
    ports:
      - '8081:8081'
    environment:
      DATABASE_URL: postgres://user:password@postgres:5432/dreamer?sslmode=disable
    links:
      - postgres:postgres
    depends_on:
      postgres:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 5s
      retries: 5

  dreamer:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgres://user:password@postgres:5432/dreamer?sslmode=disable
      REDIS_URL: redis://redis:6379
      PORT: 4173
    ports:
      - '4173:4173'
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
