name: Release It

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.yml'
      - 'front/package.json'
      - 'back/**'
    tags-ignore:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: front
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2


      - name: Install dependencies
        run: bun install

      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Run release-it
        run: git update-index --refresh && git diff-index --quiet HEAD || git reset --hard && bun run release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
